html {
	position: relative;
	min-height: 100%
}

body {
	background-color: #F9F9F9;
	padding-bottom: 0px;
}

::-webkit-scrollbar {
	display: none; 
}

.navbar-inverse {
	background-color: #111;
}

#riguardonoi {
	position: relative;
	bottom: -20px;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 650px;
	background-color: #FFFFFF;
}

.footertext {
	color: #000000;
}

.sfondo {
	background-image: url('img/c.jpg');
}

footer {
	position: absolute;
	bottom: 0;
	height: 350px;
	width: 100%;
	background-color: #111;
	color: white;
}

@media screen and (max-width: 740px) {
	footer {
		height: 480px;
	}
	body {
		margin-bottom: 500px;
	}
}

footer nav {
	float: left;
	padding: 30px;
}

footer section {
	float: left;
	padding: 30px;
}

p.copyright {
	clear: both;
	margin-left: 30px;
	margin-bottom: 30px;
}

.text-center {
	text-align: center;
}