html {
	position: relative;
	min-height: 100%
}

body {
	padding-bottom: 320px;
	background-color: #F9F9F9;
}

::-webkit-scrollbar {
	display: none; 
}

.navbar-inverse {
	background-color: #111;
}

#riguardonoi {
	position: relative;
	bottom: -20px;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 650px;
	background-color: #FFFFFF;
}

.footertext {
	color: #000000;
}

.sfondo {
	background-image: url('img/c.jpg');
}

footer {
	position: absolute;
	bottom: 0;
	height: 300px;
	width: 100%;
	background-color: #111;
	color: white;
}

@media screen and (max-width:469px) {
	footer {
		height: 660px
	}
	body {
		padding-bottom: 680px;
	}
}

@media screen and (min-width:470px) and (max-width:730px) {
	footer {
		height: 460px
	}
	body {
		padding-bottom: 480px;
	}
}

footer nav {
	float: left;
	padding: 30px;
}

footer section {
	float: left;
	padding: 30px;
}

p.copyright {
	clear: both;
	margin-left: 30px;
	margin-bottom: 30px;
}

.text-center {
	text-align: center;
}